#myImage1{
    transform: rotate(90deg);
}#myImage2{
    transform: rotate(90deg);
}#myImage3{
    transform: rotate(90deg);
}#myImage4{
    transform: rotate(90deg);
}#myImage5{
    transform: rotate(90deg);
}#myImage6{
    transform: rotate(90deg);
}#myImage7{
    transform: rotate(90deg);
}#myImage8{
    transform: rotate(90deg);
}#myImage9{
    transform: rotate(90deg);
}#myImage1{
    transform: rotate(90deg);
}#myImage10{
    transform: rotate(90deg);
}#myImage10{
    transform: rotate(90deg);
}

.sl{
    background: #776BCC;
}

.img-profile{
    height:2rem;
    width:2rem}