<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="{{request.user.customer.veh_info_pic.url}}" alt="">
    </div>
    <div>
        <form method ="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn" type="submit" name="Update Info" id="">
        </form>
    </div>
    <a href="{% url 'logoutUser' %}" class="btn btn-dark py-md-2 px-md-4 font-weight-semi-bold mt-2">Logout</a>
</body>
</html>